/*******************************************************/
/****************** ## Home Two Color ******************/
/*******************************************************/
body {
  --tekprof-heading-color: #244066;
  --tekprof-gray-color: #FAF8F6;
}